.avatar {
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.personal-photo {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

#about {
    background-color: #f0f0f0;
    height: 100vh;
}
